VITE_BOUNTY_CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
VITE_RPC_URL=http://127.0.0.1:8545
VITE_DEPLOY_BLOCK=0
VITE_INDEXER_GRAPHQL_URL=
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
VITE_PINATA_JWT=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_DEFAULT_CHAIN_HEX=0xaa36a7
VITE_BOUNTY_REPORT_HIDE_THRESHOLD=3